<ion-view view-title="Map">
    <ion-nav-buttons side="right">
        <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <leaflet center="center" markers="markers"></leaflet>
        <hr/>
        <p>
          <button ng-click="changeTiles('opencyclemap')" class="btn btn-default">OpenCycleMaps</button>
          <button ng-click="changeTiles('openstreetmap')" class="btn btn-default">OpenStreetMaps</button>
          <button ng-click="changeTiles('mapbox_outdoors')" class="btn btn-default">Mapbox Outdoors</button>
          <button ng-click="changeTiles('mapbox_satellite')" class="btn btn-default">Mapbox Satellite</button>
        </p>
    </ion-content>
</ion-view>
