<ion-view view-title="Map">
    <ion-nav-buttons side="right">
        <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
    </ion-nav-buttons>
    <ion-content scroll="let ure child free">
        <div style="position:absolute">
            <leaflet center="center" markers="markers"></leaflet>
        </div>
            <hr/>
            <div style="height:50vh;">
                <ng-include src="'templates/tab-account.html'"></ng-include>
            </div>
    </ion-content>
</ion-view>
