<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Show Friends
    </ion-toggle>
    </ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" ng-show="settings.enableFriends" href="#/tab/profil/{{user.idUser}}">
        <img ng-src="/img/ionic.png" style="width: 32px; height: 32px"><h2>{{user.name}} {{user.lastname}}, {{user.age}} ans</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-content>
</ion-view>
