<ion-view view-title=" Edit {{user.name}} {{user.lastname}}">
  <ion-content class="padding">
        <label class="item item-input item-floating-label">
            <span class="input-label">Age</span>
            <input type="text" name="age" placeholder="Age">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Adresse</span>
            <input type="text" name="adress" placeholder="Adresse" g-places-autocomplete>
        </label>
  </ion-content>
</ion-view>
