<ion-view view-title="Account">
  <ion-content>
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Show Friends
    </ion-toggle>
    </ion-list>
    <ion-spinner icon="android" ng-show="loading" style="text-align = center;">Loading</ion-spinner>
    <h1 ng-hide="settings.enableFriends">Nothing to Show</h1>
    <ion-list ng-show="settings.enableFriends">
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/profil/{{user.idUser}}">
            <img ng-src="img/ionic.png" style="width: 32px; height: 32px"><h2>{{user.name}} {{user.lastname}}, {{user.age}} ans</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-positive" ng-click="edit(user.idUser)">Edit</ion-option-button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
