/* Empty. Add your own CSS if you like */
ion-content {
    background: #03bfc0;
}

ion-content::-webkit-scrollbar {
    display: none;
}

div.angular-leaflet-map {
    width: 100%;
    height: 50%;
}
