/* Empty. Add your own CSS if you like */
ion-content {
    background: #03bfc0 ;
    /*url('../img/logo.png')*/
}

.item-input {
    background: #fff;
}

ion-content::-webkit-scrollbar {
    display: none;
}

div.angular-leaflet-map {
    width: 100vw;
    height: 50vh;
}
